{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": ["error", 200, 4],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "global-require": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/forbid-prop-types": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
